.DS_Store
**/__pycache__/
**/*.pyc
backups/
**/app-data/
**/data/**
!whirmill-cloudflare-ddns/data/
!whirmill-cloudflare-ddns/data/.gitignore
!whirmill-cloudflare-ddns/data/.gitkeep
**/*.key
**/*.pem
**/*.p12
**/*.pfx
**/*.crt
**/settings.yml
**/config.json
**/*.log
**/*.log.*
*.tar
*.tar.gz
*.zip
